@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

html{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    overflow-y: hidden;
    background-color: lightyellow;
}


h1 {
    margin: 12px 0 12px;
    color: rgb(36, 36, 36);
    text-align: center;
}


.smartphone{
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 525px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 35px;
    background-color: rgb(36, 36, 36);
    position: relative;
}

.shake-smartphone{animation: shake-animation .5s linear;}

@keyframes shake-animation{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.smartphone .auto-falante{
    width: 60px;
    height: 6px;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.smartphone .lock-screen{
    height: 440px;
    width: 236px;
    background-color: grey;
    position: absolute;
    border-radius: 10px;
    top: 55px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 35px;
    transition: all .5s linear;
}

.smartphone .lock-screen.lock{z-index: 1;}

.smartphone .lock-screen.unlock{z-index: -1;}

.smartphone .lock-screen p{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 10px 0 0;
    padding: 0;
}

.smartphone .lock-screen #elemento-dia{
    font-size: 14px;
    letter-spacing: 0;
}

.smartphone .lock-screen .icone-rolar{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowscroll 1.4s ease-out infinite;
    cursor: pointer;
    height: 47px;
    overflow-y: scroll;
}

.icone-rolar::-webkit-scrollbar{width: 2px;}

.icone-rolar::-webkit-scrollbar-track{background-color: transparent;}

@keyframes arrowscroll{
    15%{opacity: .5;}
    25%{transform: translate(-50%, -5px);
        opacity: .8;
    }
    75%{transform: translate(-50%, -10px);}
    85%{
        opacity: 0;
        transform: translate(-50%, -3px);
    }
    99%{
        opacity: 1;
        transform: translate(-50%, -1px);
    }
}

.smartphone .lock-screen .icone-rolar .fa-chevron-up{font-size: 25px;}

.smartphone .screen{
    margin-top: 45px;
    height: 440px;
    position: relative;
    z-index: 0;
    padding: 0px 12px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.smartphone .screen::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    border-radius: 10px;
}

.smartphone .screen.desbloqueada::before{visibility: hidden;}

.smartphone .screen h3{
    padding-top: 25px;
    font-weight: normal;
    text-align: center;
}

.smartphone .screen .msg-erro{
    position: absolute;
    font-weight: 700;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
}

.smartphone .screen .msg-erro.hide-msg{display: none;}

.smartphone .screen .msg-erro.show-msg{
    display: block;
    animation: blinking 2s linear;
}

@keyframes blinking{
    20%{opacity: .5;}
    40%{opacity: 1;}
    60%{opacity: .5;}
    80%{opacity: 1;}
    100%{opacity: .7;}
}

.smartphone .screen .password{
    margin-top: 30%;
    text-align: center;
}

.password.incorrect-password{animation: incorrect-password .6s linear;}

@keyframes incorrect-password{
    0% { transform: translateX(6px); }
  15% { transform: translateX(-7px); }
  30% { transform: translateX(9px); }
  45% { transform: translateX(-6px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(15px); }
  100% { transform: translateX(-10px); }
}