@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

html{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    overflow-y: hidden;
    background-color: lightyellow;
}


h1 {
    margin: 12px 0 12px;
    color: rgb(36, 36, 36);
    text-align: center;
}


.smartphone{
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 525px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 35px;
    background-color: rgb(36, 36, 36);
    position: relative;
}

.animacao-erro-senha{animation: tremer-elemento .5s linear;}

@keyframes tremer-elemento{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.smartphone .auto-falante{
    width: 60px;
    height: 6px;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.smartphone .tela-bloqueio{
    height: 440px;
    width: 236px;
    background-color: grey;
    position: absolute;
    border-radius: 10px;
    top: 55px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 35px;
    transition: all .5s linear;
}

.smartphone .tela-bloqueio.bloquear{z-index: 1;}

.smartphone .tela-bloqueio.desbloquear{z-index: -1;}

.smartphone .tela-bloqueio p{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin: 10px 0 0;
    padding: 0;
}

.smartphone .tela-bloqueio #elemento-dia{
    font-size: 14px;
    letter-spacing: 0;
}

.smartphone .tela-bloqueio .icone-rolar{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: mover-seta 1.5s ease-out infinite;
    cursor: pointer;
    height: 49px;
    overflow-y: scroll;
}

.icone-rolar::-webkit-scrollbar{width: 2px;}

.icone-rolar::-webkit-scrollbar-track{background-color: transparent;}

@keyframes mover-seta{
    15%{
        opacity: .5;
    }25%{
        transform: translate(-50%, -5px);
        opacity: .8;
    }75%{
        transform: translate(-50%, -10px);
    }85%{
        opacity: 0;
        transform: translate(-50%, -3px);
    }99%{
        opacity: 1;
        transform: translate(-50%, -1px);
    }
}

.smartphone .tela-bloqueio .icone-rolar .fa-chevron-up{font-size: 25px;}

.smartphone .tela{
    margin-top: 45px;
    height: 440px;
    position: relative;
    z-index: 0;
    padding: 0px 12px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.smartphone .tela::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    border-radius: 10px;
}

.smartphone .tela.desbloqueada::before{
    visibility: hidden;
}

.smartphone .tela h3{
    padding-top: 25px;
    font-weight: normal;
    text-align: center;
}

.smartphone .tela .msg-erro{
    position: absolute;
    font-weight: 700;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
}

.smartphone .tela .msg-erro.esconder-msg{display: none;}

.smartphone .tela .msg-erro.mostrar-msg{
    display: block;
    animation: piscar 2s linear;
}

@keyframes piscar{
    20%{
        opacity: .5;
    }40%{
        opacity: 1;
    }60%{
        opacity: .5;
    }80%{
        opacity: 1;
    }100%{
        opacity: .7;
    }
}

.smartphone .tela .senha{
    margin-top: 30%;
    text-align: center;
}