@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body{
    overflow-y: hidden;
    background-color: lightyellow;
}


h1 {
    margin: 12px 0 12px;
    text-align: center;
}

.smartphone{
    font-family: 'Nanum Gothic', sans-serif;
    margin: auto;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 525px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 35px;
    background-color: rgb(36, 36, 36);
    position: relative;
}

.smartphone .auto-falante{
    width: 60px;
    height: 6px;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.smartphone .tela{
    margin-top: 45px;
    height: 440px;
    position: relative;
    padding: 0px 12px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.smartphone .tela h3{
    padding-top: 25px;
    font-weight: normal;
    text-align: center;
}

.smartphone .tela .senha{
    margin-top: 30%;
    text-align: center;
}

.teclado{
    margin-top: 32%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33px 33px 33px 33px 25px;
    justify-content: space-evenly;
    justify-items: center;
    grid-gap: 10px 5px;
}

.teclado button{
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    min-width: 80%;
}

.teclado button:active{
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.teclado button.numero{width: 80%;}

.teclado .zero{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /* grid-area: 2 / 3 / 4 / 5;*/
    /* porque nao dá certo com o grid-area? */
}

.teclado .emergencia{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    /* grid-area: 1 / 2 / 5 / 6; */
}

.teclado .voltar{
    grid-column: 3 / 3;
    grid-row: 5 / 6;
    /* grid-area: 3 / 3 / 5 / 6; */
}