@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

html{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    overflow-y: hidden;
    background-color: lightyellow;
}


h1 {
    margin: 12px 0 12px;
    text-align: center;
}

.container-senha{
    background: linear-gradient(to bottom, #2F445D, #769089);
    width: 350px;
    height: 159px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: #00000040 0px 14px 20px, #00000038 0px 10px 10px;
    transition: all .2s linear;
    cursor: pointer;
}

.container-senha.esconder{display: none;}

.container-senha:hover.erro{
    box-shadow: #5f0c0c57 0px 14px 20px, #35131338 0px 10px 10px;
    border: 2px solid rgb(85, 11, 11);
}

.container-senha .btn-salvar{
    cursor: pointer;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all .2s linear;
}

.container-senha .btn-salvar:hover{
    border: 1px solid #286848;
    box-shadow: 0px 2px 5px #286848;
}

.container-senha:hover{
    border: 2px solid #2F445D;
    box-shadow: #2F445D 0px 4px 2px;
}

.container-senha .span{
    color: darkred;
    font-weight: 700;
    display: none;
    font-size: 12px;
    margin-top: 12px;
}

.container-senha .span.mostrar-span{display: block;}

.smartphone{
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 525px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 35px;
    background-color: rgb(36, 36, 36);
    position: relative;
}

.smartphone .auto-falante{
    width: 60px;
    height: 6px;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.smartphone .tela{
    margin-top: 45px;
    height: 440px;
    position: relative;
    padding: 0px 12px;
    background: url(../images/tree-8175062_1920.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.smartphone .tela h3{
    padding-top: 25px;
    font-weight: normal;
    text-align: center;
}

.smartphone .tela .senha{
    margin-top: 30%;
    text-align: center;
}

.teclado{
    margin-top: 32%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33px 33px 33px 33px 25px;
    justify-content: space-evenly;
    justify-items: center;
    grid-gap: 10px 5px;
}

.teclado button{
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    min-width: 80%;
}

.teclado button:active{
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.teclado button.numero{width: 80%;}

.teclado .zero{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /* grid-area: 2 / 3 / 4 / 5;*/
    /* porque nao dá certo com o grid-area? */
}

.teclado .emergencia{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    /* grid-area: 1 / 2 / 5 / 6; */
}

.teclado .voltar{
    grid-column: 3 / 3;
    grid-row: 5 / 6;
    /* grid-area: 3 / 3 / 5 / 6; */
}